$fcc-green: #006400;
$fcc-light-green: #007E00;
$fcc-blue: #3949AB;
$fcc-light-blue: #2DB9FF;
$fcc-red: #FF4025;
$fcc-light-red: #FF6D58;
$fcc-orange: #FF9C2A;
$fcc-light-orange: #FFAD25;
$fcc-purple: #BA68C8;
$fcc-yellow: #FFEE18;
$fcc-brown: #A4755F;
$fcc-grey: #E0E0E0;
$fcc-dark-grey: #939393;
$fcc-davy-grey: #555555;
$fcc-black: #2A2A2A;
$fcc-white: #FFFFFF;

$table-border-radius: 7px;

$image-size: 45px;